<% provide(:title, "Community") %>
    
    <body style="background-color:#b3b3cc;">
 
       <div class="header">
           <h1>WHERE AVERAGE BECOMES LEGENDARY
             <p></p>
            </h1>
                
        </div>
        
    </body>
</html>