<% provide(:title, "Community") %>
    
    <body style="background-color:#b3b3ff;">
 
       <div class="header">
           <h1>WHERE AVERAGE BECOMES LEGENDARY
             <p></p>
            </h1>
                
             <h2>
                <a href="Home.html">Home</a>
                <a href="Products.html">Products</a>
                <a href="Community.html">Join Us!</a>
            </h2>
        </div>
        
    </body>
</html>