<% provide(:title, "Contact") %>
<body style="background-color:#b3b3cc;">
 <div> 
     <ul>
        <li>Have ideas to improve our site? Are we missing your favorite products? Contact us and let us know!</li>
        <li><p> </p>Phone: 864-425-2210</li>
        <li><p> </p>Mail: 325 Vernon St. Gaffney, SC 29340</li>
        <li><p> </p>Email: jpgeorge@email.uscupstate.edu</li>
    </ul>
</div>
</body>