    <body style="background-color:#b3b3ff;">
 
       <div class="header" align="center">
           <h1>WHERE AVERAGE BECOMES LEGENDARY
             <p></p>
            </h1>
                
            <h2>
                <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>

            </h2>
        </div>
        
    
        <div align="center">
           <%= link_to image_tag("Pump.jpg", alt: "The Man"),
            'http://bodybuilding.com/' %>
        </div>
    
        <div align="center">
            <p>Get shreded and stay that way by clicking
                <a href="http://www.bodybuilding.com/category/nutrition">here!</a>
            </p>
        </div>
        
        <div align="center">
            <h2>Michael Towe max squating 370lbs unassisted with the help of a powerade/RSP pre-workout mix</h2>
                <%= link_to video_tag("/videos/video.mp4", alt: "Doin' Work"),
            'http://bodybuilding.com/' %>
        </div>
        
        <div class="tables">
    
            <table>
    
                <th>
                  Hot Supplements
                </th>
                  
                    <tr>
                        <td>
                            Amino-acids
                        </td>
                    </tr>
                    
                    <tr>
                        <td>
                            Creatin,
                        </td>
                    </tr>
        
                    <tr>
                        <td>
                            Muscle Milk,
                        </td>
                    </tr>
            
            </table>
    
        </div>
        
        <div>
            <p>"What are the benifits to using Amino-Acids?"</p>
            <ol>
                <li>More energy during workouts </li>
                <li>Encourages muscle repair</li>
                <li>Assits in increasing muscle mass over time</li>
                <li>ON SALE FOR 50% OFF!!</li>
            </ol>
        </div>
        
    </body
    
    <%= link_to image_tag("SunSet.jpeg", alt: "SunSet Logo"),
            'http://bodybuilding.com/' %>