<% provide(:title, "Products") %>

    <body style="background-color:#b3b3ff;">
 
       <div class="header">
           <h1>WHERE AVERAGE BECOMES LEGENDARY
             <p></p>
            </h1>
                
            <h2>
                <a href="https://wheytogainz-jgeorge.herokuapp.com/Static_Pages/Home.html">Home</a>
                <a href="https://wheytogainz-jgeorge.herokuapp.com/Static_Pages/Products.html">Products</a>
                <a href="https://wheytogainz-jgeorge.herokuapp.com/Static_Pages/Community.html">Join Us!</a>
            </h2>
        </div>
        
        <div>    
            <p>Great supplements to get the results you want. </p>
        </div>
        
    </body>
    
</html>