<% provide(:title, "Products") %>

    <body style="background-color:#b3b3cc;">
 
       <div class="header">
           <h1>WHERE AVERAGE BECOMES LEGENDARY
             <p></p>
            </h1>
                

        </div>
        
        <div>    
            <p>Great supplements to get the results you want. </p>
        </div>
        
    </body>