<footer class="footer">
  <small>
    The <a href="https://wheytogainz-jgeorge.herokuapp.com/">WheyToGainz Project</a>
    by <a href="https://www.facebook.com/johnny.george.16">Johnny George</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://bodybuilding.com/">News</a></li>
    </ul>
  </nav>
</footer>